.nftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  text-align: center;
}

.nftContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.nftItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stakedParrotsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.stakedParrotItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: black; /* Black text color for logo */
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuItems {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menuItem {
  margin-right: 16px;
  cursor: pointer;
}
